/*
m-1 = 0.25rem
m-2 = 0.5rem
m-3 = 1rem
m-4 = 1.5rem
m-5 = 3rem
*/

body {
    /* min-height: 75rem; */
    padding-top: 4.5rem;
    /* Compensate for floating navbar */
}

.navbar.bg-dark {
    background-color: #000000 !important;
}

.tip-component {
    background-color: #c673f6;
    border-color: #591c7d;
    border-style: solid;
    color: #ffffff;
}

.tip-icon {
    color: #591c7d;
    font-weight: bold;
    font-size: 1.25rem;
}

.tip-component .action-dropdown-component-icon {
    color: #591c7d;
}

.toast-component {
    margin-top: 4.5rem;
    /* navbar height */
}

.invalid-feedback-text {
    color: var(--bs-form-invalid-border-color);
}

.signin-container {
    margin-top: 6rem;
}

/* Default Spinner component styles to be overridden by consumers if needed. */
.spinner-component {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: calc(100vh + 4.5rem);
    /* navbar height */
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.page-heading-component {
    margin-top: 3rem;
    /* mt-5 */
    margin-bottom: 3rem;
    /* mt-5 */
}

.axios-error-component,
.tip-component {
    margin-top: 1rem;
    /* mt-3 */
    margin-bottom: 1rem;
    /* mb-3 */
}

.dropdown-icon {
    padding: 0;
}

.dropdown-icon.dropdown-toggle::after {
    display: none;
}

.user-avatar {
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
}


.truncate-on-small {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;

    @media (max-width: 600px) {
        display: block;
        /* Ensure block on small screens */
    }
}


/* <Transition name="modal">...</Transition> */
.modal-enter-active,
.modal-leave-active {
    transition: opacity 0.5s ease;
}

.modal-enter-from,
.modal-leave-to {
    opacity: 0;
}